body{
  background-image: url(ccsf.gif), url(computer.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-color: #CCFFFF

}
#top-section{
  width:760px;
  margin:0 auto;
  border:2px double blue;
  background-color: #FFF;
}
h1{
  text-align:center;
  color:#330066;
  font-style: italic;
}
h3{
  text-align:center;
  color:#FF0000;
  font-size: 24px;
  font-style: italic;
  }
#remember{
  text-align:center;
  font-size: 20px;

}
#homework-3{
  background-color:yellow;
  font-weight: bold;
}
#interesting{
  text-align: center;
  letter-spacing: 5px;
}
img{
  width: 150px;
  height: 140px;
  float: left;
  margin-right:20px;
}
table{
  width: 300px;
  box-shadow: 1px 1px black;
}
th {
  color: #CC0000;
}
tr:nth-child(even){
  background-color: #999999;
}
table, th, tr, td{
  border: 1px solid black;
}

.first-letter{
  font-size: 50px;
  color: #FF0000;
  font-weight: bold;
  font-style: italic;

}
footer{
  background: -webkit-linear-gradient(lightgreen, lightblue); /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(lightgreen, lightblue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(lightgreen, lightblue); /* Standard syntax */
}
